.headerMenuWrapper {
  width: 100vw;
  border: 2px solid red;
  height: 0;
  background-color: gray;
  position: fixed;
  z-index: 10005;
}
/* Set : mix-blend-mode */
/* CANNOT ADD THIS BC MENU WONT HIDE WHATS BEHIND */
.headerMenuWrapper {
  /* mix-blend-mode: exclusion; */
}