/* --------------- LIGHT / DARK MODE */
.light_dark_toggle_wrapper {
  width: 125px;
  /* background: white; */
  /* mix-blend-mode: exclusion; */
  margin: 0;
  position: fixed;
  z-index: 10006;
  bottom: 45px;
  left: 60px;

  opacity: 0;
  animation-name: fadeInLeft;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 6s;
  /* animation: fadeInLeft 1s ease-in-out forwards; */
}

.light_dark_toggle {
  /* border: 1px solid red; */
  border: 1px solid silver;
  /* border: none; */
  border-radius: 0;
  width: 125px;
  background: white;
  /* height: 15px; */
  color: silver;
  font-size: 0.8em;
  letter-spacing: 1px;
  /* margin: 0;
  padding: 10px 20px;
  position: fixed; */
  text-transform: uppercase;
  /* z-index: 10006;
  top: 35px;
  left: 35px; */
}
.light_dark_toggle.light_mode {
  background-color: #16181d;
}
.light_dark_toggle.light_mode:hover {
  background-color: #f2f2f2;
  border: 1px solid black;
  color: black;
}
.light_dark_toggle.dark_mode {
  background-color: #fff;
  color: black;
}
.light_dark_toggle.dark_mode:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}