.name_animation_wrapper {
  /* border: 1px solid red; */
  width: 282px;
  margin: auto;
  mix-blend-mode: exclusion;
  overflow: hidden;
  position: absolute;
  top: 25px;
  right: 0%;
  left: 0%;
  z-index: 10005;
}
.name_animation_wrapper a {
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 140%;
  /* mix-blend-mode: exclusion; */
  text-transform: uppercase;
}
