.name_animation_wrapper {
  /* border: 1px solid red; */
  width: 282px;
  margin: auto;
  mix-blend-mode: exclusion;
  overflow: hidden;
  position: fixed;
  top: 25px;
  right: 0%;
  left: 0%;
  z-index: 10005;

  opacity: 0;
  animation: fadeInNameAni 1s ease-in-out forwards;
  animation-delay: 4s;
}
.name_animation_wrapper a {
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 140%;
  /* mix-blend-mode: exclusion; */
  text-transform: uppercase;
}

@keyframes fadeInNameAni {
  0% { opacity: 0; }
  100% { opacity: 1; }
}