
.projectsAniFadeUpWrapper {
  /* border: 1px solid teal; */
  width: 100%;
}
.projectsAniFadeUpContainer {
  /* border: 1px solid red; */
  overflow: hidden;
}

.projectsAniFadeUpContainer .portOfProjectsH2 {
  display: flex;
  margin: 100px 0 25px;
  position: relative;
  justify-content: center;
}

.projectsAniFadeUpContainer h2 {
  font-size: 8em;
  font-weight: 400;
  position: relative;
}


