.contact {
  border: 2px solid blue;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 10000;
  top: 0;
}
.mask, .body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: #afa18f; */
  font-size: 64px;
  line-height: 66px;
  cursor: default;
}
.contact p {
  width: 800px;
  font-weight: 800;
  padding:40px;
  text-align: center;
  text-transform: uppercase;
}
.contact span {
  color: #ec4e39;
}
.contact .mask {
  mask-image: url('../public/mask.svg');
  mask-repeat: no-repeat;
  mask-size: 40px;
  background: #ec4e39;
  position: absolute;
  color: black;
}





/* --------------- LIGHT / DARK MODE */
.light_dark_mode {
  border: 1px solid red;
  width: 200px;
}

/* --------------- LINKEDIN */
.linkedin_container {
  /* border: 1px solid red; */
  position: fixed;
  transform: rotate(270deg);
  z-index: 10005;
  
  left: -1%;
  bottom: 15%;
}
.linkedin_container a {
  display: flex;
}
.linkedin_container svg {
  font-size: 1.2em;
  padding-top: 2px;
  position: relative;
  right: 3px;
}
.linkedin_container span {
  width: 2px;
  height: 14px;
  background: #16181d;
  margin: 0 13px 0 7px;
  position: relative;
  top: 4px;
}
.linkedin_container p {
  color: silver;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 140%;
  /* padding-left: 6px; */
  padding-top: 2px;
  text-transform: uppercase;
}

/* Set : mix-blend-mode */
/* .linkedin_container {
  mix-blend-mode: exclusion;
}
.linkedin_container svg {
  color: white;
}
.linkedin_container span {
  background: white;
}
.linkedin_container p {
  color: gray;
} */