
.contact {
  border: 2px solid blue;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 10000;
  top: 0;
}

.mask, .body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: #afa18f; */
  font-size: 64px;
  line-height: 66px;
  cursor: default;
}


.contact p {
  width: 800px;
  font-weight: 800;
  padding:40px;
  text-align: center;
  text-transform: uppercase;
}

.contact span {
  color: #ec4e39;
}

.contact .mask{
  mask-image: url('../../../public/mask.svg');
  mask-repeat: no-repeat;
  mask-size: 40px;
  background: #ec4e39;
  position: absolute;
  color: black;
}