.hamburger_wrapper {
  // mix-blend-mode: exclusion;
  // position: absolute;
  position: fixed;
  z-index: 10005;

  top: 35px;
  right: 35px;

  opacity: 0;
  animation-name: fadeInUp;
  animation-fill-mode: forwards;
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-delay: 0.8s;

  .hamburger {
    // border: 1px solid red;
    width: 50px;
    background: #141414;
    // background: #fff;
    border-radius: 100%;
    box-sizing: border-box;
    // mix-blend-mode: exclusion;
    padding: 22px 32px;
    
    display: flex;
    justify-content: center;

    .hamburgerLines {
      position: relative;
      display: flex;
      flex-direction: column;
      position: relative;
      cursor: pointer;
      
      &::before, 
      &::after {
        display: block;
        content: "";
        width: 25px;
        height: 2px;
        // background-color: silver;
        position: relative;
        transition: transform 0.3s;
      }
      &::before { top: -4px;}
      &::after { top: -2px;}
    }
    .hamburgerActive {
      &::before {
        transform: rotate(-45deg);
        top: 3px;
        left: -3px;
      }
      &::after {
        transform: rotate(45deg);
        top: -7px;
        left: 3px;
      }
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

// Set : mix-blend-mode
.hamburger_wrapper {
  mix-blend-mode: exclusion;

  .hamburger {
    background: white;
    &.light_mode {
      background-color: #16181d;
    }
    &.dark_mode {
      background-color: #fff;

      .hamburgerLines {
        &::before, 
        &::after {
          border-bottom: 2px solid black;
        }
      }
    }
    .hamburgerLines {
      &::before, 
      &::after {
        // background: gray;
        border-bottom: 2px solid silver;
        padding: 4px 0;
      }
    }
  }
}

/* .header {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;
  z-index: 9999;
  top: 0;
  padding: 40px;
}
.header .burger {
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  top: 100px;
}
.header .burger &::before, 
.header .burger &::after{
  display: block;
  content: "";
  width: 30px;
  height: 2px;
  background-color: red;
  position: relative;
  transition: transform 0.3s;
}
.header .burger &::after{
  top: -5px;
}
.header .burger &::before{
  top: 5px;
}
.header .burger .burgerActive{
  &::after{
    transform: rotate(45deg);
    top: -1px;
  }
  &::before{
    transform: rotate(-45deg);
    top: 0px;
  }
} */