.preloader_container_wrapper {
  width: 100vw;
  /* height: 100vh; */
  position: relative;
  z-index: 10001;
}
.preloader_container {
  /* mix-blend-mode: difference; */
  /* mix-blend-mode: exclusion; */
}