.worksSectionContainer {
  // border: 10px solid yellow;
  position: relative;
  width: 100%;
  height: 100vh;
  // max-width: 1280px;
  overflow: hidden;


  .titleContainer {
    background: #16181d;
    border-bottom: 1px solid silver;
    padding: 10px 40px;
    position: relative;

    h3 {
      color: white;
      font-size: 1.8em;
      font-weight: 700;
      flex-wrap: nowrap;
      letter-spacing: 0px;
      /* line-height: 175%; */
      text-transform: uppercase;
    }
    .resumeContainer {
      a {
        margin: auto;
        position: absolute;
        top: 0;
        right: 40px;
        bottom: 0;
  
        display: flex;
        justify-content: center;
        align-items: center;
        
        p {
          color: #fff;
          font-size: 0.8em;
          padding-right: 10px;
          text-transform: uppercase;
        }
        .resumeIcon {
          color: #fff;
          font-size: 25px;
        }        
      }


    }

  }
  .companiesContainer {
    // overflow-y: scroll;

    .companiesInnerContainer {
      .companies {
        // border-bottom: 1px solid silver;
        padding: 15px 75px;
        position: relative;

        h5 {
          color: lightpink;
          font-size: 0.9em;
          font-weight: 600;
          letter-spacing: -0.5px;
        }
        h4 {
          font-size: 1.2em;
          font-weight: 600;
          letter-spacing: -0.5px;
          padding: 5px 0;
        }
        h5:nth-of-type(2):before {
          width: 25px;
          height: 1px;
          position: relative;
          display: block;
          content: "";
          background-color: #aaa;

          top: 12px;
        }
        h5:nth-of-type(2) {
          color: #aaa;
          
          span {
            font-weight: 400;
            padding-left: 30px;
          }
        }
        .workPosition {
          height: 100%;
          color: #aaa;
          position: absolute;
          text-align: right;
          top: 0;
          right: 75px;

          display: flex;
          flex-direction: column;
          justify-content: center;

          h4 {
            font-size: 1em;
            font-weight: 500;
            letter-spacing: 0px;

            span {
              // font-size: 0.8em;
            }
          }
          .h5_tech {
            // color: black;
          }
        }
      }
      .line {
        border-bottom: 1px solid silver;
      }
    }
    .companiesInnerContainer:nth-of-type(5) {
      .line {
        border: none;
      }
    }
  }
}


// Set : mix-blend-mode
.worksSectionContainer {
  // mix-blend-mode: exclusion;
  // background: white;

  .titleContainer {
    // mix-blend-mode: exclusion;
    // background: white;

    h3 {
      // color: white;
    }
  }
}

// .worksSectionContainer {
//   mix-blend-mode: exclusion;
//   background: white;

//   .titleContainer {
//     mix-blend-mode: exclusion;
//     background: white;

//     h3 {
//       // color: white;
//       color: black;
//     }
//     .resumeContainer {
//       a {
//         p {
//         }
//         .resumeIcon {
//         }        
//       }
//     }
//   }
//   .companiesContainer {
//     background: white;

//     .companiesInnerContainer {
//       .companies {
//         h5 {
//           // color: teal;
//         }
//         h4 {
//           color: black;
//         }
//         h5:nth-of-type(2):before {
//         }
//         h5:nth-of-type(2) {
          
//           span {
//           }
//         }
//         .workPosition {
//           h4 {
//             span {
//             }
//           }
//           h5 {
//           }
//         }
//       }
//       .line {
//       }
//     }
//     .companiesInnerContainer:nth-of-type(5) {
//       .line {
//       }
//     }
//   }
// }








// EXPERIENCE EXPERIENCE EXPERIENCE
.worksSectionContainer .scrollContainer {
  border: 1px solid silver;
  border-right: none;
  width: 100%;
  // background: white;
  display: flex;
  padding: 15px 0;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}
.worksSectionContainer .scrollContainer .transitionLeft {
  color: lightpink;
  font-weight: 700;
  font-size: 4em;
  flex-wrap: nowrap;
  letter-spacing: 2px;
  line-height: 175%;
  text-transform: uppercase;
  white-space: nowrap;

  animation: animateLeft 80s linear infinite;
  animation-delay: -80s;
}
.worksSectionContainer .scrollContainer .transitionLeft:nth-child(2) {
  animation: animateLeft2 80s linear infinite;
  animation-delay: -40s;
}
@keyframes animateLeft {
  0%{ transform: translateX(100%); }
  100%{ transform: translateX(-100%); }
}
@keyframes animateLeft2 {
  0% { transform: translateX(0); }
  100% { transform: translateX(-200%); }
}

// UNDO - Set : mix-blend-mode
// .worksSectionContainer .scrollContainer .transitionLeft {
//   mix-blend-mode: exclusion;
//   color: lightpink;
// }
