.scrollZoomContainer {
  height: 300vh;
  position: relative;

  .site_name_link {
    mix-blend-mode: exclusion;
    opacity: 0;
    position: fixed;
    z-index: 1;
    top: 15%;
    // left: 5%;

    animation: animateFromLeft 1.5s ease-in-out forwards;
    animation-delay: 1s;
    
    a {
      color: white;
      font-weight: 700;
      font-size: 3em;
      flex-wrap: nowrap;
      letter-spacing: -2px;
      line-height: 100%;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }

  .sticky {
    position: sticky;
    overflow: hidden;
    top: 0;
    height: 100vh;

    .el {
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      .imageContainer {
        position: relative;
        width: 27vw;
        height: 27vh;

        img {
          // object-fit: cover;
          object-fit: contain;
          position: relative;
        }
      }
      &:nth-of-type(2) {
        .imageContainer {
          top: -23vh;
          left: 1.5vw;
          width: 30vw;
          height: 30vh;
        }
      }
      &:nth-of-type(3) {
        .imageContainer {
          top: -7vh;
          left: -23vw;
          width: 16vw;
          height: 45vh;
        }
      }
      &:nth-of-type(4) {
        .imageContainer {
          left: 27.5vw;
          width: 25vw;
          height: 25vh;
        }
      }
      &:nth-of-type(5) {
        .imageContainer {
          top: 24vh;
          left: 6vw;
          width: 22vw;
          height: 25vh;
        }
      }
      &:nth-of-type(6) {
        .imageContainer {
          top: 22.5vh;
          left: -16vw;
          width: 19vw;
          height: 25vh;
        }
      }
      &:nth-of-type(7) {
        .imageContainer {
          top: 20.6vh;
          left: 25.5vw;
          width: 15vw;
          height: 15vh;
        }
      }
    }
  }
}




@keyframes animateFromLeft {
  0% { 
    opacity: 0;
    /* transform: translateX(-100%);  */
    left: -200%;
  }
  100% { 
    opacity: 1;
    /* transform: translateX(0%);  */
    left: 5%;
  }
}