/* --------------- MASK SECTION */
.wrapper {
  border: 2px solid blue;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 10000;
  top: 0;
}
.wrapper .no_mask_wrapper {
  width: 100%;
  height: 100%;
  cursor: default;
  font-size: 7em;
  line-height: 15%;
  /* position: absolute; */
  /* position: relative; */
  text-align: left; 

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper .no_mask_wrapper:nth-of-type(3) {
  top: -100px;
}
.wrapper .no_mask_wrapper:nth-of-type(4) {
  
}
.wrapper .no_mask_wrapper:nth-of-type(5) {
  top: 100px;
}
.wrapper .mask_wrapper {
  width: 100%;
  height: 100%;
  cursor: default;
  font-size: 7em;
  line-height: 85%;
  text-align: left; 
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.wrapper .mask_wrapper p,
.wrapper .no_mask_wrapper p {
  width: 810px;
  font-weight: 800;
  padding: 40px;
  text-transform: uppercase;
}

.wrapper span {
  /* ORANGE */
  /* color: #ec4e39; */
  color: black;
}

.wrapper .mask_wrapper {
  mask-image: url('../../public/mask.svg');
  mask-repeat: no-repeat;
  mask-size: 40px;
  /* ORANGE */
  /* background: #ec4e39; */ 
  background: black;
  position: absolute;
  color: white;
}

/* --------------- ARROW */
.right_arrow_container {
  /* border: 1px solid red; */
  width: 85px;
  position: absolute;
  top: 42%;
  left: 200px;
  display: flex;
}
.right_arrow_container p {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 140%;
}
.right_arrow_container svg {
  font-size: 1.2em;
  padding-top: 2px;
}

/* -------------------- FADEUP : NOT USING THIS*/

.fade_up {  
  opacity: 0;
  animation-name: fadeInUp;
  animation-fill-mode: forwards;
  animation-duration: 1000ms;
  animation-timing-function: ease;
}
.fade_up2 {  
  opacity: 0;
  animation-name: fadeInUp;
  animation-fill-mode: forwards;
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-delay: 0.2s;
}
.fade_up3 {  
  opacity: 0;
  animation-name: fadeInUp;
  animation-fill-mode: forwards;
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-delay: 0.4s;
}

/* // This is allready in resources/scss/1_utility/_animations.scss */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}



