.whatIDoContainer {
  /* border: 5px solid rgb(0, 255, 110); */
  width: 100vw;
  height: 100vh;
}

.cupImg {
  width: 200px;
  /* height: 300px; */
  position: absolute;
  right: 32%;
  bottom: 0;
}

