.pixelBkgd {
  width: 0vw;
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: 10004;
  pointer-events: none;
  transition: width 5s ease;
  // transition-delay: 2s;

  .column {
    width: 5vw;
    height: 100%;
    display: flex;
    flex-direction: column;

    .block {
      width: 100%;
      height: 5vw;
      background-color: #ff6a00;
    }
  }
}

.pixelBkgdActive {
  width: 100vw;
  transition: width 0.1s ease;
  // z-index: 10004;
}