.pixelBkgd {
  width: 0vw;
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: 10004;
  pointer-events: none;
  transition: width 5s ease;
  // transition-delay: 2s;
  // opacity: 0.9;
  top: 0;

  .column {
    width: 5vw;
    height: 100%;
    display: flex;
    flex-direction: column;

    .light_mode {
      background-color: #16181d;
    }
    .dark_mode {
      background-color: #fff;
    }
    .pixelBlock {
      width: 100%;
      height: 5vw;
      // background-color: #ec4e39;
      // background-color: #16181d;
      // background-color: white;

      // background: white;
      // opacity: 0.5;
    }
  }
}

.pixelBkgdActive {
  width: 100vw;
  transition: width 0.1s ease;
  // z-index: 10004;
}