
.whatIDoFadeUpWrapper {
  /* border: 10px solid teal; */
  width: 180vw;
  /* height: 100vh; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.whatIDoFadeUpContainer {
  /* border: 5px solid red; */
  /* height: 350px; */
  overflow: hidden;
}

.whatIDoFadeUpContainer h2.whatIDoRefH2 {
  font-size: 8em;
  font-weight: 400;
  letter-spacing: -12px;
  line-height: 100%;
  margin: 50px 0 0;
  padding-left: 100px;
  position: relative;
}