
.whatIDoFadeUpWrapper {
  /* border: 10px solid teal; */
  width: 180vw;
  /* mix-blend-mode: difference; */
  mix-blend-mode: exclusion;
  position: relative;
  z-index: 1;
}
.whatIDoFadeUpContainer {
  /* border: 5px solid red; */
  /* height: 350px; */
  /* overflow: hidden; */
}

.whatIDoFadeUpContainer h2.whatIDoRefH2 {
  color: #fff;
  font-size: 8em;
  font-weight: 400;
  letter-spacing: -8px;
  line-height: 100%;
  margin: 100px 0 0;
  mix-blend-mode: exclusion;
  padding-left: 100px;
  position: relative;
}
