.menu_container {
  width: 100%;
  height: 50vh;
  width: 0;
  height: 0;
  display: flex;
  margin-top: 15%;
  opacity: 0;
  position: relative;
  /* z-index: 10000; */
  transition: 0.3s;
  transition-delay: 1s;
  z-index: 10005;

  align-items: center;
}
.menuActive {
  /* border: 5px solid blue; */
  width: 100%;
  height: 50vh;
  transition-delay: 0s;
  opacity: 1;
  z-index: 10005;
}

.menu-links {
  /* border: 5px solid red; */
  width: 50%;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  flex-direction: column;
  align-items: center;

  /* opacity: 0; */
  /* animation: fadeIn 1s ease-in-out 2s forwards; */
}
/* Solves initial page load visibility of menu glitch */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.menu-link-item {
  width: max-content;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-link-item-holder {
  position: relative;
  transform: translate(0px, 100px);
}

.menu-link-item-holder a {
  color: orange;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 110%;
  text-transform: uppercase;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0vh;
  width: 100%;
  z-index: 10005;
  top: 100px;
}
.menu p {
  font-size: 5vw;
  margin: 5px;
}









/* .menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
} */
