.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0vh;
  width: 100%;
  z-index: 10001;
  top: 100px;
  
  p {
    font-size: 5vw;
    margin: 5px;
  }
}


// .menu {
//   position: fixed;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   height: 90vh;
//   width: 100%;
//   z-index: 3;
//   top: 100px;
// }
// .menu p {
//     font-size: 5vw;
//     margin: 5px;
// }
