.menu-container {
  position: absolute;
  z-index: 10005;
}

.menu-copy {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2em;
}

.menu-links {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 2s forwards;
}
/* Solves initial page load visibility of menu glitch */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.menu-link-item {
  width: max-content;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-link-item-holder {
  position: relative;
  transform: translate(0px, 100px);
}

.menu-link-item-holder a {
  color: orange;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 85%;
}

.menu-link {
  border: 2px solid red;
}




.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0vh;
  width: 100%;
  z-index: 10005;
  top: 100px;
}
.menu p {
  font-size: 5vw;
  margin: 5px;
}





/* .menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
} */
